<div class="container">
  <div class="row">
    <div class="col m4 s12">
        <h2>Form</h2>
      <form action="" class="nodex-form">
        <div class="form-group">
          <label for="nodex-form-name">Name</label>
          <input type="text" id="nodex-form-name" class="nodex-form form-control">
        </div>

        <div class="form-group">
          <label for="nodex-form-email">Email</label>
          <input type="text" id="nodex-form-email" class="nodex-form form-control">
        </div>

        <div class="form-group">
          <label for="nodex-form-comment">Comment</label>
          <textarea type="text" id="nodex-form-comment" class="nodex-form form-control"></textarea>
        </div>
        <button type="submit" name="button">Submit</button>

      </form>
    </div>
    <aside class="col m8 s12">
      <div class="feedback content">
        <h2>Content</h2>

        <div class="feedback-messages">
        </div>
      </div>
    </aside>
  </div>
</div>
