<div class="twelve columns">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var pageID = $('body').attr('id');
    console.log(pageID);
  });
  </script>
</div>
