<div class="twelve columns">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var pageID = $('body').attr('id');
    console.log(pageID);
    $('#nav-dropdown').on('click', function() {
        if ($(this).hasClass('open')){
          $('#nav-dropdown-list').animate({
            height: "0"
          }, 600);
          $('#nav-dropdown').removeClass('open');
        }
        else {
          $('#nav-dropdown-list').animate({
            height: "110px"
          }, 600);
          $('#nav-dropdown').addClass('open');
        }

    });
  });
  </script>
  <% if (pageID == 'feedback') { %>
    <script src="js/feedback.js" charset="utf-8"></script>
  <% } %>
</div>
