@import url('https://fonts.googleapis.com/css?family=Asap|Open+Sans:300');

*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300 !important
}

/* Modules will scale with document */
.header {
  font-size: 1.5rem;
  min-height: 300px;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}

/* Type will scale with modules */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}

p, li, a{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

li {
  font-weight: 100;
}

a {
  font-size: 0.8rem !important;
  text-decoration: none;
  text-transform: uppercase;
}

.nodex-header {
  position: relative;
  height: 40vh;
  width: 100%;
}

.nodex-header-inner {
  height: 40vh;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background: url('../img/daisy-andrew-small.jpg') no-repeat top center;
  background-size: cover;
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    line-height: 90px;
    height: 90px;
  }
}
.nodex-nav {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: right;
  margin-top: -100px;
  z-index: 200;
  height: 100px;
}


.nodex-nav a, .nodex-header h1 {
  color: white;
}

.nodex-header h1 {
  transform: translateY(100px);
}


.nodex-header ul  {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: bottom;
}

.nodex-header ul li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 0;
  padding: 5px 15px;
}

.nodex-nav-link {
  display: block;
  float: right;
  margin: 0;
  padding: 0 10px;
  opacity: 0.8;
  min-width: 15%;
  border-bottom: 5px solid purple;
  min-height: 100px;
}

.nodex-nav-link#nav-home  {
  opacity: 1.0;
  border-bottom: 5px solid purple;

}

#nav-dropdown-list{
  position: absolute;
  background-color: purple;
  right: 0;
  top: 100px;
  z-index: 300;
  min-width: 200px;
  margin-top: -5px;
  height: 0;
  padding: 0;
  border-top: 5px solid purple;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1;
}

#nav-dropdown{
  right: 0;
  position: relative;

}

#nav-dropdown ul li{
  right: 0;
  position: relative;
  float: right;
  padding: 10px 0;

}

.name {
  position: absolute;
  bottom: 0;
  right: 0;
}

figure {
  position: relative;
  transition: all 0.3s;
  margin: 0;
}
figcaption  {
  position: absolute;
  top: 0;
  bottom: 8px;
  /* height: 100%; */
  background: black;
  color: white;
  padding: 15px;
  opacity: 0.7;
}
figcaption:hover {
  transform: translateY(250px);
  transition: all 0.3s;
  opacity: 0;

}

.stripe {
  height: 5px;
  z-index: 9999;
  margin-top: 0;
  width: 100%;
  background-color: red;
  position: relative;
}
.stripe-container {
  width: 100%;
  overflow: auto;
  z-index: 300;
  position: relative;
  height: 5px;
  margin-top: -5px;
  background: yellow;
}
.nodex-section {
  margin-top: 30px;
}
